<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA3d3vc77zLJ2fzJ2x_VuNuD2feIN1irTI</string>
	<key>GCM_SENDER_ID</key>
	<string>835377989790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>umuttasan.myCoffeeShopApp</string>
	<key>PROJECT_ID</key>
	<string>mycoffeeshop-88da8</string>
	<key>STORAGE_BUCKET</key>
	<string>mycoffeeshop-88da8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835377989790:ios:8f77e67c693b499690d38f</string>
</dict>
</plist>